@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  border-radius: 50%;
  border: 3px solid var(--blue-500);
  border-top-color: var(--blue-900);
  animation: spin 0.6s linear infinite;
}