.profile-image {
  width: 30px;
  height: 30px;
  border: var(--white) solid 2px;
  border-radius: 50%;
}

.signed-in {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1120px) {
  .profile-image-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}