.primary {
  width: 70dvw;
  height: 150px;
  background-color: var(--blue-500);
  border-radius: 8px;
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
  padding: 10px;

  h4 {
    background: rgba(0, 0, 0, 0.5);
    width: fit-content;
    padding: 2px 6px;
    border-radius: 8px;
  }
}

.info-and-bookmark-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  flex-grow: 1;
}

.info {
  display: flex;
  gap: 10px;
  font-size: 13px;
  font-weight: 100;
  background: rgba(0, 0, 0, 0.5);
  width: fit-content;
  padding: 2px 6px;
  border-radius: 8px;

  p {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  p:not(:last-child)::after {
    content: "";
    display: inline-block;
    border: 2px #fff solid;
    border-radius: 50%;
    background-color: #fff;
  }
}

.category {
  display: flex;
  gap: 10px;
}

.bookmark-container {
  display: flex;
  align-self: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  padding-bottom: 6px;
  border-radius: 50%;
}

.secondary {
  display: flex;
  flex-direction: column-reverse;
  min-width: 40dvw;
  height: 150px;
  gap: 0.5rem;
}

.info-secondary {
  display: flex;
  font-size: 13px;
  font-weight: 100;
  gap: 5px;

  p {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  p:not(:last-child)::after {
    content: "";
    display: inline-block;
    border: 1px #fff solid;
    border-radius: 50%;
    background-color: #fff;
  }
}

.category-secondary {
  display: flex;
  gap: 5px;
}

.background {
  height: 75%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  padding: 8px;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .primary {
    width: 60dvw;
    height: 250px;
  }

  .secondary {
    min-width: 29dvw;
    height: 200px;
  }

  .info-secondary {
    gap: 10px;

    p {
      gap: 10px;
    }
  }
}

@media screen and (min-width: 1120px) {
  .primary {
    width: 400px;
    height: 200px;
  }

  .secondary {
    min-width: 150px;
  }
}