.poster-container {
  position: relative;
  display: inline-block;
  height: 200px;

  img {
    height: 150px;
    width: 100px;
    position: absolute;
    top: 25px;
    left: 15px;
    border-radius: 8px;
  }
}

.backdrop-container {
  display: inline-block;

  img {
    width: 100dvw;
    height: 200px;
    object-fit: cover;
    object-position: left;
  }
}


.rating-container {
  position: relative;
  width: 100dvw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  span {
    position: absolute;
    display: inline-block;
    width: auto;
    padding: 10px 7px;
    bottom: 15px;
    right: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: var(--blue-950);
  }
}

.card-title {
  text-align: center;
  margin-top: 10px !important;
}
.card-title::after {
  content: "";
  border: 1px solid #fff;
  display: block;
  width: 50%;
  margin: 0 25%;
  margin-top: 2px;
}

.overview-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px;
  margin-top: 25px;
}

.tagline {
  font-style: italic;
}

.overview {
  h3 {
    margin-bottom: 5px;
  }
}
.genre {
  h3 {
    margin-bottom: 5px;
  }
}