.poster-container {
  position: relative;
  display: inline-block;
  height: 200px;

  img {
    height: 150px;
    width: 100px;
    position: absolute;
    top: 25px;
    left: 15px;
    border-radius: 8px;
  }
}

.backdrop-container {
  display: inline-block;

  img {
    width: 100dvw;
    height: 200px;
    object-fit: cover;
    object-position: left;
  }
}


.rating-container {
  position: relative;
  width: 100dvw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  span {
    position: absolute;
    display: inline-block;
    width: auto;
    padding: 10px 7px;
    bottom: 15px;
    right: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: var(--blue-950);
  }
}

.card-title-container {
  width: 100dvw;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.card-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}

.card-title {
  text-align: center;
  margin: 0 0 2px 0 !important;
}

.cart-title-underline {
  border: 1px solid #fff;
  width: 75%;
}

.overview-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px;
  margin-top: 25px;
}

.tagline {
  font-style: italic;
}

.overview {
  h3 {
    margin-bottom: 5px;
  }
}
.genre {
  h3 {
    margin-bottom: 5px;
  }
}

.card-details-wrapper-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .poster-container {
    height: 300px;

    img {
      height: 250px;
      width: 180px;
      top: 30px;
      left: 25px;
    }
  }

  .backdrop-container {
    img {
      height: 300px;
    }
  }

  .rating-container {
    span {
      bottom: 25px;
      right: 25px;
    }
  }
}

@media screen and (min-width: 1120px) {
  .card-details-wrapper {
    display: none;
  }

  .card-details-wrapper-desktop {
    display: block;
    height: 450px;
  }

  .card-details-background-overlay-desktop {
    display: flex;
    padding: 25px;
    gap: 20px;
    background-image: linear-gradient(to right, #000, #0000008c);
  }

  .poster-container-desktop {
    img {
      height: 400px;
      width: 300px;
      border-radius: 8px;
    }
  }

  .content-wrapper-desktop {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .card-title-container {
    width: 100%;
    justify-content: left;
  }

  .rating-container-desktop {
    width: max-content;
    margin: 10px 0;

    span {
      border: 2px solid #fff;
      border-radius: 50%;
      background-color: transparent;
      padding: 10px 7px;
    }
  }

  .tagline-desktop {
    font-style: italic;
    margin-bottom: 10px;
  }
}