.primary {
  width: 70dvw;
  height: 150px;
  background-color: var(--blue-500);
  border-radius: 8px;
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
  padding: 10px;
}

.info-and-bookmark-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  flex-grow: 1;
}

.info {
  display: flex;
  gap: 10px;
  font-size: 13px;
  font-weight: 100;

  p {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  p::after {
    content: "";
    width: 2px;
    display: inline-block;
    border: 1px #fff solid;
    height: 2px;
    border-radius: 50%;
    background-color: #fff;
  }
}

.category {
  display: flex;
  gap: 10px;
}

.bookmark-container {
  display: flex;
  align-self: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  padding-bottom: 6px;
  border-radius: 50%;
}

.secondary {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  min-width: 40dvw;
  height: 150px;
  gap: 5px;
}

.info-secondary {
  display: flex;
  font-size: 13px;
  font-weight: 100;
  gap: 5px;

  p {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  p::after {
    content: "";
    width: 1px;
    display: inline-block;
    border: 1px #fff solid;
    height: 1px;
    border-radius: 50%;
    background-color: #fff;
  }
}

.category-secondary {
  display: flex;
  gap: 5px;
}

.background {
  height: 70%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  padding: 8px;
  border-radius: 8px;
}