#search-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;

  input {
    flex-grow: 1;
    background: none;
    border: none;
    padding: 10px 20px
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid var(--blue-500);
  border-top-color: var(--blue-900);
  animation: spin 0.6s linear infinite;
}

@media screen and (min-width: 768px) {
  #search-wrapper {
    gap: 20px;

    input {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 1120px) {
  #search-wrapper {
    gap: 30px;
  }

  input {
    font-size: 32px;
  }
}