#search-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;

  input {
    flex-grow: 1;
    background: none;
    border: none;
    padding: 10px 20px
  }
}

@media screen and (min-width: 768px) {
  #search-wrapper {
    gap: 20px;

    input {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 1120px) {
  #search-wrapper {
    gap: 30px;
  }

  input {
    font-size: 32px;
  }
}