.cast {
  height: max-content;
}

.image {
  height: 150px;
  width: 120px;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

.no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 8px;
}

.cast-info {
  margin-top: 5px;
}

@media screen and (min-width: 375px) {
  .image {
    height: 200px;
    width: 150px;
  }
}

@media screen and (min-width: 768px) {
  .image {
    height: 250px;
    width: 200px;
  }
}