@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
 --white: #ffffff;
 --black: #000000;
 --blue-950: #10141E;
 --blue-900: #161D2F;
 --blue-500: #5A698F;
 --red: #FC4747;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  color: var(--white);
}

body {
  overflow-x: clip;
}

#root {
  max-width: 1280px;
  background-color: var(--blue-950);
}

.loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-navigator-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--blue-900);

  ol {
    display: flex;
    gap: 20px;

    li {
      list-style: none;
    }
  }

  .profile-image {
    width: 30px;
    height: 30px;
    border: var(--white) solid 2px;
    border-radius: 50%;
  }
}


.page-wrapper {
  padding: 20px 0px;
  background-color: var(--blue-950);
  display: flex;
  flex-direction: column;
  gap: 25px;

  > a {
    margin: 0px 15px;
    text-decoration: none;
  }

  h2 {
    margin: 0px 15px;
    font-size: 20px;
    font-weight: 200;
  }

  h4 {
    font-size: 15px;
    font-weight: 300;
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.trending-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .trending-media-wrapper {
    width: 100%;
    padding: 0 15px;
    overflow-x: scroll;
    scrollbar-width: none;
  }

  .trending {
    display: flex;
    width: max-content;
    gap: 15px;
  }
}

.recommended-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .recommended {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    row-gap: 30px;
    margin: 0px 15px;
  }
}

.movies-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .movies {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    row-gap: 30px;
    margin: 0px 15px;
  }
}

.tv-series-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .tv-series {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    row-gap: 30px;
    margin: 0px 15px;
  }
}

.bookmarks-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .bookmarked-tv-series-wrapper,
  .bookmarked-movies-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .bookmarks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    row-gap: 30px;
    margin: 0px 15px;
  }
}


.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .search-results {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    row-gap: 30px;
    margin: 0px 15px;
  }
}

@media screen and (min-width: 375px) {

  .recommended-wrapper .recommended,
  .movies-wrapper .movies,
  .tv-series-wrapper .tv-series,
  .bookmarks-wrapper .bookmarks,
  .search-wrapper .search-results {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  #root {
    padding-top: 25px;
  }

  #page-navigator-wrapper {
    margin: 0px 25px 15px;
    border-radius: 8px;
  }

  .page-wrapper {
    padding-top: 10px;

    > a {
      margin: 0px 25px;
    }

    h2 {
      margin: 0px 25px;
      font-size: 25px;
    }
  }

  .trending-wrapper {
    .trending-media-wrapper {
      padding: 0 25px;
    }

    .trending {
      gap: 20px;
    }
  }

  .recommended-wrapper {
    .recommended {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      margin: 0px 25px;
    }
  }

  .movies-wrapper {
    .movies {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      margin: 0px 25px;
    }
  }

  .tv-series-wrapper {
    .tv-series {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      margin: 0px 25px;
    }
  }

  .bookmarks-wrapper {
    .bookmarks {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      margin: 0px 25px;
    }
  }

  .search-wrapper {
    .search-results {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      margin: 0px 25px;
    }
  }
}

@media screen and (min-width: 1120px) {
  body {
    display: flex;
    justify-content: center;
    background-color: var(--blue-950);
  }

  #root {
    display: flex;
    width: 100%;
    padding-top: 30px;
  }

  #page-navigator-wrapper {
    position: fixed;
    height: 90dvh;
    flex-direction: column;
    justify-content: flex-start;
    gap: 80px;
    margin: 0px 0px 30px 30px;
    padding: 30px;

    ol {
      flex-direction: column;
    }

    .profile-image-container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  .page-wrapper {
    width: 90%;
    margin-left: 10%;
    padding-bottom: 30px;

    > a {
      margin: 0px 30px;
    }

    h2 {
      margin: 0px 30px;
      font-size: 32px;
    }
  }

  .trending-wrapper {

    .trending-media-wrapper {
      margin-left: 30px;
      padding: 0px;
      padding-right: 30px;
    }
    .trending {
      padding-right: 30px;
    }
  }

  .recommended-wrapper {
    .recommended {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 0px 30px;
    }
  }

  .movies-wrapper {
    .movies {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 0px 30px;
    }
  }

  .tv-series-wrapper {
    .tv-series {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 0px 30px;
    }
  }

  .bookmarks-wrapper {
    .bookmarks {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 0px 30px;
    }
  }

  .search-wrapper {
    .search-results {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 0px 30px;
    }
  }
}

@media screen and (min-width: 1331px) {
  .trending-wrapper {
    overflow: hidden;
    margin-right: 30px;

    .trending-media-wrapper {
      margin: 0px 30px;
      padding: 0px;
    }
  }
}