@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
 --white: #ffffff;
 --black: #000000;
 --blue-950: #10141E;
 --blue-900: #161D2F;
 --blue-500: #5A698F;
 --red: #FC4747;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  color: var(--white);
}

#root {
  max-width: 1280px;
  background-color: var(--blue-950);
}

#page-navigator-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--blue-900);

  ol {
    display: flex;
    gap: 20px;

    li {
      list-style: none;
    }
  }

  .profile-image {
    width: 30px;
    height: 30px;
    border: var(--white) solid 2px;
    border-radius: 50%;
  }
}


.page-wrapper {
  padding: 20px 0px;
  background-color: var(--blue-950);
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow-x: scroll;

  > div {
    margin: 0px 15px;
  }

  h2 {
    margin: 0px 15px;
    font-size: 20px;
    font-weight: 200;
  }

  h4 {
    font-size: 15px;
    font-weight: 300;
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.trending-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .trending-media-wrapper {
    width: 100%;
    padding: 0 15px;
    overflow-x: scroll;
  }

  .trending {
    display: flex;
    width: max-content;
    gap: 15px;
  }
}

.recommended-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .recommended {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 0px 15px;
  }
}

.movies-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .movies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 0px 15px;
  }
}

@media screen and (min-width: 768px) {
  #root {
    padding-top: 25px;
  }

  #page-navigator-wrapper {
    margin: 0px 25px 15px;
    border-radius: 8px;
  }

  .page-wrapper {
    padding-top: 10px;

    > div {
      margin: 0px 25px;
    }

    h2 {
      margin: 0px 25px;
      font-size: 25px;
    }
  }

  .trending-wrapper {
    .trending-media-wrapper {
      padding: 0 25px;
    }

    .trending {
      gap: 20px;
    }
  }

  .recommended-wrapper {
    .recommended {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      margin: 0px 25px;
    }
  }
}